/* Write your CSS here */
.main-container {
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 150vh;
}

.sub-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  font-family: 'Roboto';
  min-width: 90%;
}

.container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 568px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.appointment-container {
  display: flex;
  flex-direction: column;
}

.appointment-heading {
  color: #171f46;
  font-size: 30px;
  font-weight: 500;
}

.form-style {
  margin-top: 20px;
  margin-left: 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

label {
  font-size: 13px;
  color: grey;
  font-weight: 500;
  margin-bottom: 7px;
}

input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 7px;
  color: #171f46;
  border: 1px solid grey;
}

.add-btn {
  margin-top: 30px;
  margin: 10px;
  height: 35px;
  width: 60px;
  border: none;
  border-radius: 10px;
  padding: 3px;
  color: white;
  background-color: #8b5cf6;
}

.appointments-image-container {
  text-align: right;
}

.appointments-image {
  width: 90%;
}

hr {
  border-width: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.appointment-sub-heading {
  color: #171f46;
  font-size: 20px;
  font-weight: 500;
}

.starred-btn {
  height: 30px;
  width: 90px;
  border-radius: 20px;
  border: 2px #9897f0 solid;
  color: #9897f0;
  background-color: transparent;
  font-weight: 600;
}

.appointments-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 568px) {
  .appointments-list-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
