/* Write your code here. */
li {
  list-style-type: none;
  border: 1px #d7dae6 solid;
  padding: 20px;
  border-radius: 20px;
  width: 80vw;
  margin-left: 0px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.question-container {
  display: flex;
  justify-content: space-between;
}

.faq-question {
  color: #52606d;
  font-size: 20px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

hr {
  width: 100%;
  border: 1px #e4e7eb solid;
}

.faq-answer {
  color: #9aa5b1;
  font-size: 15px;
}
