/* Write your CSS here */
.repo-card {
  background-color: #f8f8ff;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
  font-family: 'Roboto';
  width: 25%;
}

.avatar-style {
  height: 100px;
  width: 100px;
}

.repo-name {
  color: #e73959;
  font-weight: 500;
  font-size: 20px;
}

.mini-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px;
}

.image-style {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
